<%#= @sources %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="index.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="article">
      <div class="title element"><h1>西野七瀬と結婚の山田裕貴、「ＡＮＮ」で生報告…祝福の声に「相手はアイドルで心配だったけど２人で泣きました」 - スポーツ報知</h1></div>
      <div class="info element">
        <div class="publishedAt"><p>2024-04-01T16:28:00Z</p></div>
        <div class="name"><p>Hochi.news</p></div>
      </div>
      <div class="description element"><p>３月３１日に元乃木坂４６の西野七瀬（２９）と結婚したことを発表した俳優・山田裕貴（３３）が１日深夜、自身がパーソナリティーを務めるニッポン放送「山田裕貴のオールナイトニッポン」（月曜・深夜１時）に出演。「やったぞー！結婚したぞー！」と喜びの声を届けた。</p></div>
      <div class="image element"><img src="https://hochi.news/images/2024/04/02/20240402-OHT1I51006-L.jpg" alt="hoge"></div>
      <div class="content element"><p>関係者によると、ゲームや映画など共通の趣味を通じて意気投合し、昨年初めに交際をスタート。この日までに都内の区役所に婚姻届を提出した。西野は妊娠しておらず、今後も芸能活動を続ける。

        　２人は２０２１年７月に放送されたＮＨＫのコント番組「ＬＩＦＥ！」で出会い、同７月期の日テレ系ドラマ「ハコヅメ～たたかう！交番女子～」で共演。その後は、お互いの趣味でもあるオンラインゲームで距離を縮め、昨年初めに交際をスタート。「東京リベンジャーズ」や「キングダム」シリーズなどで独特な存在感と確かな演技力を誇る山田と、乃木坂４６卒業後は女優業をまい進する西野は、約１年間の交際期間を経て、結婚を決めたという。
        
        　昨年７月に交際が報じられた際、山田はパーソナリティーを務めていたニッポン放送「山田裕貴のオールナイトニッポンＸ（クロス）」で「両者温かく、そっと見守ってくれるとうれしいです。これに尽きます」と正々堂々とコメント。今年３月には、２人で九州旅行する様子も一部週刊誌で報じられていた。
        
        　◆山田　裕貴（やまだ・ゆうき）１９９０年９月１８日、愛知県出身。３３歳。２０１１年の特撮ドラマ「海賊戦隊ゴーカイジャー」で俳優デビュー。１４年に「ライヴ」で映画初主演。その後ＮＨＫ大河ドラマ「どうする家康」（２３年）などに出演。今年１月期は、フジテレビ系ドラマ「君が心をくれたから」に出演。父は元プロ野球選手の山田和利氏。身長１７８センチ。血液型Ｏ。
        
        　◆西野　七瀬（にしの・ななせ）１９９４年５月２５日、大阪府出身。２９歳。２０１１年に乃木坂４６の１期生オーディションに合格し、１２年に「ぐるぐるカーテン」でデビュー。１３年に日本テレビ系「４９」でドラマデビューし、１７年に映画「あさひなぐ」で初主演。１９年にグループ卒業。２１年に「孤狼の血　ＬＥＶＥＬ２」で「第４５回日本アカデミー賞」優秀助演女優賞と新人俳優賞をダブル受賞。身長１５９センチ。血液型Ｏ。</p></div>
      <div class="author element"><p>報知新聞社</p></div>
    </div>


    <div class="rating-area">
      <h4>この記事の情報は信頼できますか？</h4>
      <div class="rating-buttons">
        <button class="rating-button"><img src="./../imgs/trustable.png" alt="">信頼できる</button>
        <button class="rating-button"><img src="./../imgs/can-not-judge.png" alt="">判断できない</button>
        <button class="rating-button"><img src="./../imgs/untrustable.png" alt="">信頼できない</button>
      </div>
      <div class="evidence-form">
        <div class="evidence-form-container">
          <textarea placeholder="信頼できない理由を投稿してください"></textarea>
          <button>投稿</button>
        </div>
      </div>
    </div>
    <div class="evidences-area">
      <div class="evidence">
        <div class="evidence-container">
          <div class="evidence-info">
            <div class="user-info">
              <img src="./../imgs/default-icon.png" alt="">
              <p>user name</p>
            </div>
            <div class="trust-icon">
              <p>この投稿の信頼度:</p>
              <img src="./../imgs/can-not-judge.png" alt="">
            </div>
          </div>
          <div class="evidence-content">
            <p>hogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeg</p>
          </div>
          <div class="rating-buttons">
            <button class="rating-button"><img src="./../imgs/trustable.png" alt="">信頼できる</button>
            <button class="rating-button"><img src="./../imgs/can-not-judge.png" alt="">判断できない</button>
            <button class="rating-button"><img src="./../imgs/untrustable.png" alt="">信頼できない</button>
          </div>
        </div>
      </div>
      <div class="evidence untrustable-evidence">
        <div class="evidence-container">
          <div class="evidence-info">
            <div class="user-info">
              <img src="./../imgs/default-icon.png" alt="">
              <p>user name</p>
            </div>
            <div class="trust-icon">
              <p>この投稿の信頼度:</p>
              <img src="./../imgs/untrustable.png" alt="">
            </div>
          </div>
          <div class="evidence-content">
            <p>hogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeghogehogehogehoeghoeghoeghoeghogehogehogehogehoeg</p>
          </div>
          <div class="rating-buttons">
            <button class="rating-button"><img src="./../imgs/trustable.png" alt="">信頼できる</button>
            <button class="rating-button"><img src="./../imgs/can-not-judge.png" alt="">判断できない</button>
            <button class="rating-button"><img src="./../imgs/untrustable.png" alt="">信頼できない</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>
</html>