/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body .container {
  background-color: snow;
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}
body .container .header {
  height: 150px;
  border: 1px solid darkgray;
}
body .container .header .top-bar {
  display: flex;
  height: 60%;
  border: 1px solid darkgray;
}
body .container .header .top-bar .top-bar-left {
  margin-right: auto;
  border: 1px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .header .top-bar .top-bar-left .app-logo {
  width: 200px;
  height: 100%;
  border: 1.5px solid darkgray;
}
body .container .header .top-bar .top-bar-right {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container .header .top-bar .top-bar-right .search-bar input {
  width: 200px;
  padding: 5px;
  border: 1px solid darkgray;
}
body .container .header .top-bar .top-bar-right .search-bar button {
  margin-right: 20px;
}
body .container .header .top-bar .top-bar-right button {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border: 1px solid darkgray;
  cursor: pointer;
}
body .container .header .nav-bar {
  height: 40%;
  background-color: whitesmoke;
}
body .container .header .nav-bar ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}
body .container .header .nav-bar ul li a {
  display: block;
  padding: 10px 20px;
  border-right: 1.5px solid darkgray;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
body .container .header .nav-bar ul li a:hover {
  border-bottom: 4px solid steelblue;
  font-weight: 700;
}
body .container .header .nav-bar ul li:first-child a {
  border-bottom: 4px solid steelblue;
  font-weight: 700;
}
body .container .main-content {
  display: flex;
  justify-content: space-between;
  height: 80vh;
}
body .container .main-content .main {
  width: 70%;
  border: 1px solid darkgray;
}
body .container .main-content .main .headings .heading {
  width: 100%;
  height: 100px;
  border-bottom: 0.5px solid darkgray;
  margin: 0 auto;
}
body .container .main-content .main .headings .heading .heading-container {
  height: 90%;
  margin: 5px 1%;
  display: flex;
}
body .container .main-content .main .headings .heading .heading-container img {
  height: 100%;
}
body .container .main-content .main .headings .heading .heading-container .heading-content {
  width: 63%;
  margin: 0 20px;
  position: relative;
}
body .container .main-content .main .headings .heading .heading-container .heading-content .title {
  color: blue;
  font-size: 16px;
  letter-spacing: 1px;
}
body .container .main-content .main .headings .heading .heading-container .heading-content .title a:hover {
  color: crimson;
  border-bottom: 1px solid crimson;
}
body .container .main-content .main .headings .heading .heading-container .heading-content .meta-info {
  position: absolute;
  bottom: 0;
  font-size: 14px;
  letter-spacing: 1px;
  color: gray;
}
body .container .main-content .main .headings .heading .heading-container .trust-icon {
  width: 15%;
}
body .container .main-content .main .headings .heading .heading-container .trust-icon .article-trust-icon {
  border: 1px solid darkgray;
  height: 50%;
  width: 100%;
}
body .container .main-content .main .headings .heading .heading-container .trust-icon .summary-trust-icon {
  border: 1px solid darkgray;
  height: 50%;
  width: 100%;
}
body .container .main-content .trend-articles {
  width: 30%;
  border: 1px solid darkgray;
}
body .container .main-content .trend-articles .breaking-articles {
  border-bottom: 1px solid darkgray;
  padding-bottom: 5px;
}
body .container .main-content .trend-articles .breaking-articles .breaking-article {
  padding-top: 5px;
}
body .container .main-content .trend-articles .breaking-articles .breaking-article a {
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: blue;
  font-size: 16px;
  letter-spacing: 1px;
}
body .container .main-content .trend-articles .breaking-articles .breaking-article a:hover .title {
  color: crimson;
  border-bottom: 1px solid crimson;
}
body .container .main-content .trend-articles .breaking-articles .breaking-article .type {
  color: white;
  background-color: rgb(235, 72, 82);
  padding: 1px;
  border-radius: 1px;
  margin-right: 10px;
}
body .container .main-content .trend-articles .hot-articles {
  border-bottom: 1px solid darkgray;
  padding-bottom: 5px;
}
body .container .main-content .trend-articles .hot-articles h1 {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
body .container .main-content .trend-articles .hot-articles .hot-article {
  border-top: 1px solid darkgray;
  padding-top: 5px;
  margin-left: 5%;
  display: flex;
}
body .container .main-content .trend-articles .hot-articles .hot-article .rank {
  width: 15%;
}
body .container .main-content .trend-articles .hot-articles .hot-article .title {
  padding: 0 3px;
  width: 60%;
}
body .container .main-content .trend-articles .hot-articles .hot-article .title a {
  letter-spacing: 1px;
  word-wrap: break-word;
  white-space: normal;
  color: blue;
}
body .container .main-content .trend-articles .hot-articles .hot-article .title a:hover {
  color: crimson;
  border-bottom: 1px solid crimson;
}
body .container .main-content .trend-articles .hot-articles .hot-article img {
  height: 75px;
  width: 75px;
}
body .container .main-content .advertisement {
  width: 30%;
  border: 1px solid darkgray;
}/*# sourceMappingURL=RootPage.css.map */